.header {
  top: 0;
  position: fixed;
  width: 100%;
  min-height: 50px;
  background-color: rgb(225, 225, 225);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  transition: 0.5s ease-in-out;

  & .title {
    margin-left: 30px;
    margin-right: auto;
    cursor: pointer;
  }

  & div#hidden {
    min-width: 400px;
    background-color: white;
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 5px;
    border-radius: 20px;
    align-self: flex-start;

    & div.items {
      overflow-y: auto;
      max-height: 350px;
    }

    & div.item {
      flex-grow: 1;
      display: flex;
      gap: 5px;
      align-items: center;
      padding: 0 5px 0;

      &.coin_search {
        padding: 5px;
        border-radius: 10px;
      }

      &.coin_search:hover {
        cursor: pointer;
        background-color: #dedede;
      }

      & input {
        flex-grow: 1;
        padding: 10px;
        border: 0;
        border-radius: 5px;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;

        &:focus {
          outline: 0;
        }
      }

      & button {
        border: 0;
        width: 35px;
        height: 35px;
        border-radius: 20px;
        background-color: rgb(208, 208, 208);
        cursor: pointer;
      }

      & .price {
        margin-left: auto;
      }

      & .coin_img {
        width: 35px;
        height: 35px;
      }
    }

    & div.nores {
      margin: 0 20px 5px;
    }

    & div.show_more {
      background-color: rgb(203, 203, 203);
      padding: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      border-radius: 20px;

      &:hover {
        background-color: rgb(181, 181, 181);
      }
    }
  }

  & div#shown {
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    width: 200px;
    gap: 10px;
    background-color: white;
    cursor: pointer;
  }
}

.blocks_wrapper{
  display: flex;
  gap: 20px;
}

.coin_table {
  min-width: 800px;
  text-align: end;
  align-content: center;
  margin: 50px auto 2rem;
  overflow-y: scroll;

  & thead {
    & tr {
      background-color: rgb(232, 232, 232);

      & th {
        padding: 10px;
        cursor: pointer;

        & div.empty {
          width: 16px;
          height: 16px;
          display: inline-block;
        }

        &:nth-child(1) {
          cursor: default;
        }

        &:nth-child(2) {
          text-align: start;
        }

        &:nth-child(3) {
          text-align: start;
        }

        &:last-child {
          padding-right: 15px;
          cursor: default;
        }
      }
    }
  }

  & tbody tr {
    & th {
      padding: 10px;

      &:nth-child(3) {
        text-align: start;
        display: flex;
        align-items: center;
        gap: 10px;

        & img {
          width: 40px;
          height: 40px;
        }
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:last-child button {
        padding: 5px;
        border: 0;
        border-radius: 5px;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        cursor: pointer;

        &:hover {
          background-color: rgb(169, 169, 169);
        }
      }
    }

    &:nth-child(2n) {
      background-color: rgb(232, 232, 232);
    }

    &:hover {
      cursor: pointer;
      background-color: darken($color: #c6c6c6, $amount: 0.5);
    }
  }
}

.loading {
  margin: auto;
  margin-top: 5rem;
  text-align: center;
}

.pagination {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  & a {
    display: block;
    background-color: rgb(222, 222, 222);
    cursor: pointer;
    min-width: 30px;
    padding: 5px;
    margin: 5px;
    border: 0;
    border-radius: 10px;
    text-align: center;

    &.disabled {
      background-color: rgb(240, 240, 240);
      cursor: auto;
      pointer-events: none;
    }

    &:hover {
      background-color: rgb(193, 193, 193);
    }

    &.disabled:hover {
      cursor: default;
    }
  }
}